<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <app-toast [message]="toast.message"></app-toast>
    <app-page-header [heading]="'UserList'" [icon]="'fa-user'"></app-page-header>
    <app-loading [condition]="isLoading"></app-loading>




    <div class="card" *ngIf="!isLoading" [@routerTransition]>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="#">Registered users ({{users.length}})</a>

        <div class="rightdata">
          <div class=" ">
            <a [routerLink]="['/userlist/adduser']" class="rightdata" [routerLinkActive]="['router-link-active']">  <i class="fa fa-user-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </nav>



      <div class="card-block table-responsive ">
        <table class="table">
          <thead class="table table-hover table-striped">
            <tr>
              <th [class.active]="order === 'username'"
              (click)="setOrder('username')"
              class="mdl-data-table__cell--non-numeric"
          >
            Username <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>

              <th [class.active]="order === 'email'"
              (click)="setOrder('email')"
              class="mdl-data-table__cell--non-numeric"
          >
            Email <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="users.length === 0">
            <tr>
              <td colspan="4">There are no registered users.</td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let user of users  | orderBy: order:reverse | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="deleteUser(user)" [disabled]="auth.currentUser._id === user._id">
              <i class="fa fa-trash"></i>Delete
            </button>
                <button class="btn btn-sm btn-primary" (click)="getUser(user)">
              <i class="fa fa-eye"></i>View
            </button>
            <button class="btn btn-sm btn-warning" [routerLink]="['/userlist/edituser', user._id]" routerLinkActive="active">
            
        <i class="fa fa-pencil-square-o"></i>Edit
           
              </button>
              </td>

            </tr>
          </tbody>
        </table>
        <pagination-controls class="centerpage" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<p-dialog header="User Information" [(visible)]="display" modal="modal" width="500" [responsive]="true">
  <app-loading [condition]="isLoading"></app-loading>
  <div class="card-block table-responsive " [@routerTransition]>
    <table class="table">
      <thead class="table table-hover table-striped">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>

        </tr>
      </thead>

      <tbody>

        <tr>
          <td>{{selecteduser.username}}</td>
          <td>{{selecteduser.email}}</td>
          <td>{{selecteduser.role}}</td>


        </tr>
      </tbody>
    </table>
  </div>
  <p-footer>

    <button type="button" pButton icon="fa-close" (click)="display=false" label="Close"></button>
  </p-footer>
</p-dialog>