<app-page-header [heading]="'Role Management'" [icon]="'fa-user'">
</app-page-header>
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="container" *ngIf="!isLoading">
  <form [formGroup]="myForm" (ngSubmit)="saveRole()">


    <div class="form-group">
      <label for="exampleSelect1">Select User Type</label>
      <select class="form-control" name="usertype" formControlName="usertype" (change)="getmodule($event.target.value)">
          <option value="" selected disabled>Select user</option>
        <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
       </select>
    </div>
    <div class="form-group" >
      <label for="exampleSelect1">Select Module</label>

     
      <div class="form-check" *ngFor="let list of modulelist;let i = index">
        
        
        <span *ngIf="rolemodule[i] === list.link else elseBlock " >
        <label class="form-check-label"  >
       
        <input type="checkbox"  [checked]="list.link"  formControlName="modulename"  name="namemodule"  (change)="onChange(list.link, $event.target.checked)"   class="form-check-input">
        {{list.link}}
       </label>
       </span>
       <ng-template #elseBlock>
       <label class="form-check-label"  >
          
           <input type="checkbox"  formControlName="modulename"  name="namemodule"  (change)="onChange(list.link, $event.target.checked)"   class="form-check-input">
           {{list.link}}
          </label>
        </ng-template>   
      </div>

    </div>
    <button  class="btn btn-sm btn-success" type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>

<!-- 
<pre>Form values: {{myForm.value | json}}</pre> -->