<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<app-page-header [heading]="'Add User'" [icon]="'fa-user'"></app-page-header>

 <div class="row">

  <div class="col col-xl-12 col-lg-12">

    <div class="card">

      <div class="formGroup">
        <form [formGroup]="registerForm" (ngSubmit)="register()">


          <fieldset class="form-group">
            <div class="input-group" [ngClass]="setClassUsername()">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
            </div>
          </fieldset>


          <fieldset class="form-group">

            <div class="input-group" [ngClass]="setClassEmail()">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="input-group" [ngClass]="setClassPassword()">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
              <select class="form-control" name="role" formControlName="role">
                <option value="" selected disabled>Role</option>
                <option *ngFor="let role of roles" [value]="role.name" >{{role.name}}</option>
        </select>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <input id="photo" name="filename" type="file" />
            <!-- button to trigger the file upload when submitted -->
            <span >click</span>
            </fieldset>
          <button class="btn btn-sm btn-success"  (click)="upload()" type="submit" [disabled]="!registerForm.valid"> Add User</button>
          <a [routerLink]="['/userlist']" class="btn btn-sm btn-primary" > Back</a>
          
        </form>
      </div>
    </div>
  </div>
</div>