<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" *ngIf="auth.currentUser.role=='admin'">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <span *ngFor="let list of allModulelist | orderBynumber:order:ascending  ">
        <a routerLink="/{{list.modulename}}"    [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw {{list.icon}}"></i>&nbsp;{{ list.modulename | translate }}
        </a>
        </span>

    </ul>
</nav>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" *ngIf="auth.currentUser.role=='subadmin'">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
            </a>
        <span *ngFor="let list of allModulelist | orderBynumber:order:ascending  ">
            <a routerLink="/{{list.modulename}}"    [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw {{list.icon}}"></i>&nbsp;{{ list.modulename | translate }}
            </a>
            </span>
    </ul>
</nav>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" *ngIf="auth.currentUser.role=='manager'">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
            </a>
        <span *ngFor="let list of allModulelist | orderBynumber:order:ascending  ">
            <a routerLink="/{{list.modulename}}"    [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw {{list.icon}}"></i>&nbsp;{{ list.modulename | translate }}
            </a>
            </span>
    </ul>
</nav>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" *ngIf="auth.currentUser.role=='user'">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
            </a>
        <span *ngFor="let list of allModulelist | orderBynumber:order:ascending  ">
            <a routerLink="/{{list.modulename}}"    [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw {{list.icon}}"></i>&nbsp;{{ list.modulename | translate }}
            </a>
            </span>
    </ul>
</nav>