<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<app-page-header [heading]="'Add User'" [icon]="'fa-user'"></app-page-header>

<div class="row">

  <div class="col col-xl-12 col-lg-12">

    <div class="card">

      <div class="formGroup">
        <form [formGroup]="registerForm" (ngSubmit)="register()">


          <fieldset class="form-group">
            <div class="input-group" [ngClass]="setClassUsername()">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
            </div>
          </fieldset>


          <fieldset class="form-group">

            <div class="input-group" [ngClass]="setClassEmail()">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="input-group" [ngClass]="setClassPassword()">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
              <select class="form-control" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
            </div>
          </fieldset>
          <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Register</button>
          <a [routerLink]="['/userlist']" class="btn btn-primary" >  <i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
          
        </form>
      </div>
    </div>
  </div>
</div>